/* line 40, scss/obio-colors.scss */
.site-wrap {
  background: #__body-bg__;
  color: #__body-color__; }

/* line 45, scss/obio-colors.scss */
.color-inverse {
  background: #__body-color__;
  color: #__body-bg__; }

/* line 49, scss/obio-colors.scss */
.l-over-each__nested-img--hero-thin .field-type-image .field-item::after {
  background: #__body-color__;
  opacity: 0.5; }

/* line 55, scss/obio-colors.scss */
a {
  color: #__primary__; }
  /* line 58, scss/obio-colors.scss */
  a:focus, a:hover {
    color: #__primary-hover__; }

/* line 64, scss/obio-colors.scss */
#block-sitebranding > div:not(.contextual) a {
  color: #__logocolor__; }

/* line 71, scss/obio-colors.scss */
.latest-block-post .browse-articles-link {
  background: #__primary__; }
  /* line 74, scss/obio-colors.scss */
  .latest-block-post .browse-articles-link a {
    color: #__primary-rel__; }

/* line 80, scss/obio-colors.scss */
.hero-content .field-name-field-hero-link a {
  border-color: #__primary__;
  color: #__primary__; }
  /* line 84, scss/obio-colors.scss */
  .hero-content .field-name-field-hero-link a:focus, .hero-content .field-name-field-hero-link a:hover {
    border-color: #__primary__;
    background: #__primary__;
    color: #__primary-rel__; }
  /* line 91, scss/obio-colors.scss */
  .hero-content .field-name-field-hero-link a:active {
    border-color: #__primary-hover__;
    background: #__primary-hover__;
    color: #__primary-rel__; }

/* line 99, scss/obio-colors.scss */
.button {
  background: #__primary__;
  color: #__primary-rel__; }
  /* line 103, scss/obio-colors.scss */
  .button:focus, .button:hover {
    background: #__primary-hover__; }

/* line 112, scss/obio-colors.scss */
.card {
  background: #__card-bg__;
  color: #__card-color__; }
  /* line 117, scss/obio-colors.scss */
  .card__content a {
    color: #__card-link-color__; }
    /* line 120, scss/obio-colors.scss */
    .card__content a:focus, .card__content a:hover {
      color: #__card-link-color-hover__; }

/* line 129, scss/obio-colors.scss */
.df-tools-magellan-block .menu > li > a:hover, .df-tools-magellan-block .menu > li > a.active {
  background-color: #__header-bg-meta__; }

/* line 137, scss/obio-colors.scss */
.header-wrap {
  background: #__header-bg__ linear-gradient(to left, #__header-bg-meta__ 50%, #__header-bg__ 50%); }
  /* line 140, scss/obio-colors.scss */
  .header-wrap .menu-icon::after {
    color: #__header-color__;
    background: #__header-color__;
    box-shadow: 0 7px 0 #__header-color__, 0 14px 0 #__header-color__; }
  @media screen and (max-width: 39.9375em) {
    /* line 137, scss/obio-colors.scss */
    .header-wrap {
      background: #__header-bg__; }
      /* line 149, scss/obio-colors.scss */
      .header-wrap .title-bar {
        background: #__header-bg__; } }
  /* line 153, scss/obio-colors.scss */
  .header-wrap .header-left {
    background-color: #__header-bg__; }
  /* line 157, scss/obio-colors.scss */
  .header-wrap .header-right {
    background-color: #__header-bg-meta__; }
    /* line 160, scss/obio-colors.scss */
    .header-wrap .header-right a {
      color: #__footer-link-color__; }
      /* line 163, scss/obio-colors.scss */
      .header-wrap .header-right a:focus, .header-wrap .header-right a:hover {
        color: #__footer-link-color-hover__; }
    /* line 169, scss/obio-colors.scss */
    .header-wrap .header-right .user-links a {
      color: #__footer-link-color__; }
      /* line 172, scss/obio-colors.scss */
      .header-wrap .header-right .user-links a:focus, .header-wrap .header-right .user-links a:hover {
        color: #__footer-link-color-hover__; }
  /* line 179, scss/obio-colors.scss */
  .header-wrap.overflow {
    background: #__header-bg__; }
    /* line 183, scss/obio-colors.scss */
    .header-wrap.overflow .header-right a {
      color: #__header-link-color__; }
      /* line 185, scss/obio-colors.scss */
      .header-wrap.overflow .header-right a:focus, .header-wrap.overflow .header-right a:hover {
        color: #__header-link-color-hover__; }

/* line 197, scss/obio-colors.scss */
#main-menu {
  background-color: #__header-bg__; }
  /* line 200, scss/obio-colors.scss */
  #main-menu .top-bar-right {
    background-color: #__footer-bg__; }
    /* line 203, scss/obio-colors.scss */
    #main-menu .top-bar-right .menu a {
      color: #__footer-link-color__; }
      /* line 206, scss/obio-colors.scss */
      #main-menu .top-bar-right .menu a:focus, #main-menu .top-bar-right .menu a:hover {
        color: #__footer-link-color-hover__; }
      @media screen and (max-width: 39.9375em) {
        /* line 212, scss/obio-colors.scss */
        #main-menu .top-bar-right .menu a, #main-menu .top-bar-right .menu a:focus, #main-menu .top-bar-right .menu a:hover {
          color: #__header-link-color__; } }
  /* line 221, scss/obio-colors.scss */
  #main-menu .menu.dropdown.topbar-toplevel li > a {
    color: #__header-link-color__; }
    /* line 224, scss/obio-colors.scss */
    #main-menu .menu.dropdown.topbar-toplevel li > a:focus, #main-menu .menu.dropdown.topbar-toplevel li > a:hover {
      color: #__header-link-color-hover__; }
      /* line 228, scss/obio-colors.scss */
      #main-menu .menu.dropdown.topbar-toplevel li > a:focus::before, #main-menu .menu.dropdown.topbar-toplevel li > a:hover::before {
        border-bottom-color: #__header-link-color-hover__; }
    /* line 233, scss/obio-colors.scss */
    #main-menu .menu.dropdown.topbar-toplevel li > a.is-active::before {
      border-bottom-color: #__header-link-color-hover__; }

/* line 239, scss/obio-colors.scss */
.header-bar ul {
  background-color: #__header-bg__; }
  /* line 243, scss/obio-colors.scss */
  .header-bar ul li a {
    color: #__header-link-color__; }
    /* line 246, scss/obio-colors.scss */
    .header-bar ul li a:focus, .header-bar ul li a:hover {
      color: #__header-link-color-hover__; }
      /* line 250, scss/obio-colors.scss */
      .header-bar ul li a:focus::after, .header-bar ul li a:hover::after {
        border-left-color: #__header-link-color-hover__; }
  /* line 256, scss/obio-colors.scss */
  .header-bar ul li.is-active a {
    color: #__header-link-color-hover__; }
  /* line 261, scss/obio-colors.scss */
  .header-bar ul ul.is-dropdown-submenu {
    background: #__header-bg__; }
    /* line 265, scss/obio-colors.scss */
    .header-bar ul ul.is-dropdown-submenu li:hover {
      background: #__body-bg__; }
    /* line 269, scss/obio-colors.scss */
    .header-bar ul ul.is-dropdown-submenu li a {
      color: #__header-link-color__; }
      /* line 272, scss/obio-colors.scss */
      .header-bar ul ul.is-dropdown-submenu li a:focus, .header-bar ul ul.is-dropdown-submenu li a:hover {
        color: #__header-link-color-hover__; }

/* line 281, scss/obio-colors.scss */
.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-top-color: inherit; }

/* line 286, scss/obio-colors.scss */
a.standard-icon.login-dropdown-button:hover i:before,
a.standard-icon.login-dropdown-button:hover span:before,
a.standard-icon.login-dropdown-button:hover span {
  color: #__footer-link-color-hover__; }

/* line 296, scss/obio-colors.scss */
#footer.dark-bg,
.bottom-bar.dark-bg {
  background: #__footer-bg__;
  color: #__footer-color__; }

/* line 303, scss/obio-colors.scss */
#block-footer a {
  color: #__footer-link-color__; }
  /* line 306, scss/obio-colors.scss */
  #block-footer a:focus, #block-footer a:hover {
    color: #__footer-link-color__;
    border-color: #__footer-link-color-hover__; }

/* line 315, scss/obio-colors.scss */
#footer .form__id-dfs-obio-subscribe-form input[type="submit"] {
  background: #__footer-bg__;
  color: #__footer-link-color__;
  border: 2px solid #__footer-link-color__; }
  /* line 319, scss/obio-colors.scss */
  #footer .form__id-dfs-obio-subscribe-form input[type="submit"]:focus, #footer .form__id-dfs-obio-subscribe-form input[type="submit"]:hover {
    border-color: #__footer-link-color-hover__;
    color: #__footer-link-color-hover__; }
  /* line 324, scss/obio-colors.scss */
  #footer .form__id-dfs-obio-subscribe-form input[type="submit"]:active {
    border-color: #__footer-link-color-hover__;
    color: #__footer-link-color-hover__; }

/* line 332, scss/obio-colors.scss */
.form__id-dfs-obio-subscribe-form input[type="text"] {
  color: #__header-bg-meta__;
  border: 2px solid #__primary__; }

/* line 336, scss/obio-colors.scss */
.form__id-dfs-obio-subscribe-form input[type="submit"] {
  border-color: #__primary__;
  color: #__primary__; }
  /* line 339, scss/obio-colors.scss */
  .form__id-dfs-obio-subscribe-form input[type="submit"]:focus, .form__id-dfs-obio-subscribe-form input[type="submit"]:hover {
    border-color: #__primary__;
    background: #__primary__;
    color: #__primary-rel__; }
  /* line 345, scss/obio-colors.scss */
  .form__id-dfs-obio-subscribe-form input[type="submit"]:active {
    border-color: #__primary-hover__;
    background: #__primary-hover__;
    color: #__primary-rel__; }

/* line 353, scss/obio-colors.scss */
label, .label {
  background: #__label-bg__; }

/* line 357, scss/obio-colors.scss */
p.footer-slogan {
  color: #__footer-color__; }

/* line 361, scss/obio-colors.scss */
#main-menu .top-bar-left .is-drilldown {
  background: #__header-bg__; }

/*# sourceMappingURL=../sass */