//
// @file
// A simple layout module which arranges items over each.
//
// Its possible that we'd need an another variant in the future which operates
// only from medium breakpoint.
//

.l-over-each {
  //
  // Default layout block: moves each item above each other and center them
  // vertically.
  //
  position: relative;
  font-size: 0;
  white-space: nowrap;
  z-index: 1;

  // l-over-each__item.
  @at-root #{&}__item {
    display: inline-block;
    width: 100%;
    font-size: 1rem;
    white-space: normal;
    vertical-align: middle;

    // LTR.
     @at-root & ~ #{&} {
      margin-left: -100%;
    }

    // RTL.
    @at-root [dir="rtl"]  & ~ #{&} {
      margin-right: -100%;
    }
  }

  // l-over-each__nested-img.
  @at-root #{&}__nested-img {
    img {
      width: 100%;
    }
  }

  @at-root %vertically-streched {
    transition: $slider-transition;

    > .field {
      &.quickedit-field {
        position: static !important;
      }
    }

    .field-type-image .field-item {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      text-align: center;
      overflow: hidden;
    }

    img {
      width: auto;
      max-width: none;
      height: 100%;
      // margin-right: -100%;
      // margin-left: -100%;
    }
  }

  //
  // Modifier for "hero" role: specifies a min-height for the nested img item
  // and stretches it vertically (instead of horizontal).
  //
  @at-root #{&}__nested-img--hero {
    @extend %vertically-streched;
    // Image size: 320x514 by the design; max size: 640x1028.
    padding-bottom: 160.625%;

    // From 640px.
    @media #{$medium-up} {
      // Image max size (by height): 1024x612.
      padding-bottom: 57.15%;
    }

    // From 1024px.
    @media #{$large-up} {
      // Image size is 1920x600.
      padding-bottom: 31.25%;
    }
  }

  //
  // Modifier for "thin hero" role.
  //
  @at-root #{&}__nested-img--hero-thin {
    @extend %vertically-streched;
    // Image max size: 640x320.
    padding-bottom: 320px;

    // From 640px.
    @media #{$medium-up} {
      // Image max size (by height): 1023x341.
      padding-bottom: 341px;
    }

    // From 1024px.
    @media #{$large-up} {
      // Image size is 1600x400.
      padding-bottom: 400px;
    }

    // From 1024px.
    @media #{$xxlarge-up} {
      // Image size is 1600x400.
      padding-bottom: 25%;
    }

    .field-type-image .field-item::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba($black, 0.5);
      content: "";
    }

    .quickedit-form {
      .field-type-image .field-item {
        position: static;

        &::after {
          content: none;
        }
      }
    }
  }
}
